* {

}

/* start of menu  */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* html {
  height:100%;
  background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
} */
nav {
  max-width: 100%;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 0px 0;
}
nav ul {
  text-align: center;
  padding: 0px 0px 0px 30px;
  background: linear-gradient(90deg, rgba(255, 255 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  padding: 28px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: black;
  font-size: 20px;
  text-decoration: none;
  display: block;
}
nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}
/* end of menu */


/* .banner {
  height: 500px;
  width: 1503px;
  background-image: url(images/1komoks.jpg);
} */

/* start of sentence overlay */

.container {
  position: relative;
  text-align: center;
  color: black;
  font-size: 150%;
  font-family: 'Arbutus Slab', serif;
}

.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* end of sentence overlay */

  header {
    color: white;
    background-color: #7286C9;
    text-shadow: 5px 2px 0 black;
    font-size: 80px;
    font-family: 'Girassol', cursive;
    line-height: 1;
    text-align: center;
    letter-spacing: 4px;
    /* margin-right: 30px;
    margin-left: 30px; */
  }


  body {
    background-color: #3333;
    color: rgb(0, 0, 0);
    font-family: Helvetica, Arial;
    /* text-align: center; */
    /* font-weight: bold; */
  }

  p {
    color: black;
    background-color: white;
    font-family: Arial, Helvetica;
    line-height: 3;
    font-size: 20px
    text-align: left;
    border: 1px solid green;
    margin: 40px;
    padding: 20px;
    /* margin-top: 0px
    margin-bottom:0px;
    margin-right: 0px;
    margin-left: 0px; */
  }

   h1, h2, h3 {
    /* border-bottom: 2px solid black; */
    /* border: 2px dashed black;  */
    padding: 30px;
  }

  /* ul, ol {
    color: black;
    font-size: 15pt;
    background-color: #98BF64;
    border: 1px solid green;
    margin: 15px;
    padding: 75px;
  } */

  /* img {
    padding: 20px; */


  footer {
    color: black;
  }

  /* a:link,
  a:focus,
  a:active {
    color:
  } */

  a {
    color: #354A21;
    text-decoration: underline;
  }

  a:hover {
    color: #7286C9;
    text-decoration: none;
  }

  /* a:visited {
    color: #7286C9;
  } */
